name: Build, Test and Publish

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-test-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run Smoketest
        run: |
          # Dummy Env erstellen für Test
          echo "DB_PASSWORD=testpass" >> .env
          echo "DB_ROOT_PASSWORD=testroot" >> .env
          echo "LYNDRIX_MASTER_KEY=12345678901234567890123456789012" >> .env

          docker compose up -d --build
          sleep 25

          if curl -f http://localhost:8081/; then
            echo "✅ Webserver erreichbar."
          else
            docker compose logs
            exit 1
          fi
          docker compose down -v

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
